.elements {
  max-width: 880px;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 282px 282px 282px;
  grid-template-rows: 362px 362px;
  gap: 20px 17px;
}
.elements__container {
  border-radius: 10px;
  background: #fff;
  width: 282px;
  height: 361px;
  padding: 0;
  position: relative;
}
.elements__place-image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  margin: 0;
}
.elements__info {
  display: flex;
  justify-content: space-between;
  height: 79px;
  margin: 0 auto;
}
.elements__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
  height: 26px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000000;
  margin: auto auto;
  max-width: 200px;
}

.elements__like {
  margin: auto 15px auto auto;
  background-image: url(../images/Like.svg);
  background-repeat: no-repeat;
  border: none;
  width: 21px;
  height: 19px;
  background-color: #fff;
  padding: 0;
}
.elements__like-active {
  background-image: url(../images/Like_hov.svg);
}
.elements__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.elements__delete {
  position: absolute;
  width: 18px;
  height: 19.3px;
  top: 18px;
  right: 15px;
  background-image: url(../images/Trash.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}

.elements__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .elements {
    max-width: 581px;
    margin: 36px auto 0;
    grid-template-columns: 282px 282px;
  }
}

@media screen and (max-width: 580px) {
  .elements {
    max-width: 282px;
    margin: 36px auto 0;
    grid-template-columns: 282px;
  }
}
