.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
}

.popup__show {
  display: flex;
}

.popup__close-button {
  width: 40px;
  height: 40px;
  padding: 0;
  background-image: url(../images/CloseIcon.svg);
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0, 0);
  background-size: 100%;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
}
.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__form {
  max-width: 75vw;
  max-height: 75vh;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
}
.popup__img {
  max-width: 75vw;
  max-height: 75vh;
  border-radius: 10px;
}
.popup__footer {
  color: #fff;
  margin: 0;
  border: none;
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 12px;
  line-height: 15px;
}
.popup__fieldset {
  padding: 0%;
  display: flex;
  flex-direction: column;
  border: 0;
  background: #fff;
  max-width: 75vw;
  max-height: 75vh;
  border-radius: 10px;
}

.popup__title {
  width: 330px;
  height: 23px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 35px auto 53px 35px;
}

.popup__input {
  border: none;
  border-bottom: 1px solid #000000;
  max-width: 358px;
  max-height: 28px;
  margin: 0 auto 30px;
}

.popup__button {
  width: 328px;
  height: 50px;
  margin: auto auto 10px;
  background-color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2%;
  color: #ffffff;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 880px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
  }
  .popup__input {
    width: 308px;
    height: 28px;
  }
  .popup__button {
    margin: 18px auto 0;
    background-color: #000;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-radius: 2%;
    color: #ffffff;
    margin: auto auto 10px;
  }
}

@media screen and (max-width: 765px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: -25px;
    right: -25px;
  }
  .popup__fieldset {
    width: 282px;
    height: 322px;
  }
  .popup__title {
    width: 208px;
    margin: 25px auto 75px 18px;
    font-size: 18px;
    line-height: 22px;
  }
  .popup__input {
    width: 200px;
    height: 27px;
    margin: 0 auto 30px auto;
  }
  .popup__button {
    width: 200px;
    height: 46px;
    margin: 15px auto 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
