:root {
  --color: #ffffff;
}
.profile {
  display: flex;
  padding-top: 2.4rem;
}
.profile__avatar {
  width: 107.75px;
  height: 96px;
  border-radius: 50%;
}
.profile__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.profile__profession {
  color: #fff;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 487px;
}

.profile__name {
  margin: 0;
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 487px;
}

.profile__edit {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 64%;
  margin: 1rem;
}

.profile__button-add {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background: #000;
  border: 1px solid #fff;
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin: auto;
  position: relative;
}
.profile__button-add::before {
  content: "";
  background: url(../images/add_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.profile__button-edit {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background: #000;
  border: 1px solid #fff;
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 18px;
  position: relative;
}
.profile__button-edit::before {
  content: "";
  background: url(../images/edit_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .profile__name {
    font-size: 28px;
    line-height: 28px;
    max-width: 248px;
  }
  .profile__edit {
    flex-basis: 46%;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile__profession {
    max-width: 282px;
  }
  .profile__name {
    font-size: 24px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 196px;
  }
  .profile__edit {
    align-items: center;
  }
  .profile__button-add {
    width: 282px;
    height: 50px;
  }
}
